In [1]:
import pandas as pd

In [9]:
# File to load
vine_data = "Resources/vine_table.csv"

# Create df from file
vine_df = pd.read_csv(vine_data)
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [8]:
# Check df size
vine_df.shape

(1785997, 5)

In [4]:
# Filter df to retreive all rows where total_votes >= 20
vine_filtered_df = vine_df[vine_df['total_votes'] >= 20]
vine_filtered_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
# Check filtered df size
vine_filtered_df.shape

(65379, 6)

In [11]:
# Retreive all rows where helpful_votes / total_votes >= 0.5
helpful_votes_df = vine_filtered_df[vine_filtered_df["helpful_votes"] / vine_filtered_df["total_votes"] >= 0.5] 
helpful_votes_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [13]:
# Check filtered df size
helpful_votes_df.shape

(40565, 6)

In [10]:
# Filter all rows where vine == 'Y'
paid_vine = helpful_votes_df[helpful_votes_df['vine'] == 'Y']
paid_vine.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [12]:
# Filter all rows where vine == 'N'
unpaid_vine = helpful_votes_df[helpful_votes_df['vine'] == 'N']
unpaid_vine.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [18]:
# Get the total number of reviews for paid members
total_reviews_paid = paid_vine['review_id'].count()
print(f'Total number of reviews written by paid members: {total_reviews_paid}')

Total number of reviews written by paid members: 94

In [20]:
# Get the total number of reviews for unpaid members
total_reviews_unpaid = unpaid_vine['review_id'].count()
print(f'Total number of reviews written by unpaid members: {total_reviews_unpaid}')

Total number of reviews written by unpaid members: 40471

In [23]:
# Get the number of 5 star reviews for paid members
five_star_paid = paid_vine[paid_vine['star_rating'] == 5 ].count()['star_rating']
print(f'Number of 5-star Ratings given by paid members: {five_star_paid}')

Number of 5 Start Ratings given by paid members: 48

In [31]:
# Get the number of 5 star reviews for unpaid members
five_star_unpaid = unpaid_vine[unpaid_vine['star_rating'] == 5 ].count()['star_rating']
print(f'Number of 5-star Ratings given by unpaid members: {five_star_unpaid}')

Number of 5-star Ratings given by unpaid members: 15663

In [27]:
# Get the percentage of 5 star reviews for paid members
percentage_five_star_paid = (five_star_paid / total_reviews_paid * 100).round(2)
print(f'Percentage of 5-star reviews given by paid members: {percentage_five_star_paid}%')

Percentage of 5-star reviews given by paid members: 51.06%

In [28]:
# Get the percentage of 5 star reviews for unpaid members
percentage_five_star_unpaid = (five_star_unpaid / total_reviews_unpaid * 100).round(2)
print(f'Percentage of 5-star reviews given by unpaid members: {percentage_five_star_unpaid}%')

Percentage of 5-star reviews given by unpaid members: 38.7%

In [38]:
# Create dataframe to show comparison results
results = {'Total Reviews': [total_reviews_paid, total_reviews_unpaid],
           'Total 5-star Rating reviews': [five_star_paid, five_star_unpaid],
           '% of 5-star reviews': [percentage_five_star_paid, percentage_five_star_unpaid]}

# Format the total reviews and total 5-star reviews
summary_df = pd.DataFrame(data=results, index=['Paid Review', 'Unpaid Review'])
summary_df['Total Reviews'] = summary_df['Total Reviews'].map("{:,}".format)
summary_df['Total 5-star Rating reviews'] = summary_df['Total 5-star Rating reviews'].map("{:,}".format)

# Show df
summary_df

              Total Reviews Total 5-star Rating reviews  % of 5-star reviews
Paid Review              94                          48                51.06
Unpaid Review        40,471                      15,663                38.70